.app{
    /* max-width: 800px; */
    /* margin: auto;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content:center; */
}

a:hover{
        text-decoration: none;
}